<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    
	
	<div class = "col-xs-12 col-sm-8 col-md-6">
	    <form method="get" action ="/process">
		    <div class= "row">	
		    	<div class = "col-xs-8 col-sm-9">
		    		<input type = "text" class = "form-control"
		    		name = "lbcUrl" placeholder = "https://leboncoin.fr">
		    	</div>	
		    	<div class = "col-xs-4 col-sm-3">
		    		<button type = "submit" class = "btn btn-default"> Tell Me </button>
		    	</div>
		    </div>		
	    </form>
	</div>
	
	<!--div class= "data-value">
		<div class="data-value-content text-center">
			<!--% if (data.deal.good) { %>
				<div class="mg-t-20 mg-b-20">
					<span class="fa fa-3x fa-smile-o text-success"> </span>
				</div>
				<div class="pad-t-10">
					<span class="text-success text-xxlarge market"> </span>
				</div>
				<--% } else { %>
					<div class = "mg-t-20 mg-b-20">
							<span class="fa fa-3x fa-frown-o text-danger"></span>
					</div>
					<div class class="pad-t-10">
						<span class="text-danger text-xxlarge market">NO</spam>
					</div>
					<--% } %>
		</div>
	</div-->
		
</body>

</html>